# Given a sentence, identify all unique words and display:

In [3]:

# Taking input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting list to set to remove duplicates
unique_words = set(words)

# Printing results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  chinmay is cleaver

Unique words count: 3
Unique words: {'is', 'cleaver', 'chinmay'}
['chinmay', 'is', 'cleaver']

# Store employee names and their salaries, and determine which employee has the highest salary.

In [15]:


# Employee dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Finding employee with highest salary
highest_paid = max(employees, key=employees.get)

# Printing result
print("Highest Salary:", highest_paid, "-", employees[highest_paid])

Highest Salary: Ravi - 75000


   # Find the maximum and minimum values from a list of numbers.

In [21]:
#Find the maximum and minimum values from a list of numbers.

# Given list
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Given list of product prices

In [18]:
prices = [450, 1200, 899, 1500, 300]

# Initialize counter
count = 0

# Loop to check prices above 1000
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

# Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [23]:


# Given attendance list
attendance = ["P", "P", "A", "P", "P"]

# Count total days
total_days = len(attendance)

# Count number of "P"
present_count = 0
for status in attendance:
    if status == "P":
        present_count += 1

# Calculate percentage
percentage = (present_count / total_days) * 100

# Print result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

# You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [24]:
# Given list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# Count how many times each character appears in a given string.

In [25]:
# Given string
text = "pythonp"

# Initialize empty dictionary
char_count = {}

# Loop through each character
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# Print result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Convert a list into a tuple and display it.

In [27]:
# Given list
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Print result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

# Check whether a specific key exists in a dictionary.

In [28]:
# Given dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Calculate the average marks of a student from a list of marks.

In [29]:
# Given list of marks
marks = [70, 75, 80, 65]

# Calculate total marks
total = sum(marks)

# Calculate average
average = total / len(marks)

# Print result
print("Average Marks:", average)

Average Marks: 72.5